/*Maybe find some fonts>*/
.header {
    background-color: rgb(177, 174, 174)
}
.header nav {
    float: right;
    position: absolute;
    top: 2px;
    right: 8px;
}
.main {
    background-color: rgb(177, 174, 174);
}
.AboutMe img {
    height: 300px;
}
.AboutMe p {
    float: right ;
    position: relative;
    top: 0;
    right: 0;
    /*want to get words in line with my picture*/
}
.MyWork h1{
    text-align: center;
}
.run-buddy {
    text-align: center;
}
.other {
    text-align: center;
}
.other img {
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 50px;
    border: 5px;

}